# pip install -r requirements.txt

# standard libs
websockets
httpx
dataclasses-json==0.5.9
dataclasses
typing_extensions
verboselogs

# Async functionality, likely to be already installed
aiohttp
aiofiles
